.Landing {
    .friend_request {
        position: absolute;
        width: 90%;
        height: auto;
        padding: 20px 0;
        top: 100px;
        background: white;
        box-shadow: 0px 2px 15px 2px lighten($primary, 10);
        left: 5%;
        z-index: 1;
        color: $gray;
    }
    .friend_request_mapped {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: scroll;
        .friend_request_info {
            margin-bottom: 10px;
            width: 100%;
            text-align: center;
            font: {
                size: 24px;
                family: 'Varela Round', sans-serif;
            }
        }
        .accept {
            background: lighten(green, 15);
            color: white;
            border: none;
            border-radius: 3px;
            height: 40px;
            width: 100px;
            font-size: 14px;
            margin-bottom: 30px;
        }
        .reject {
            @extend .accept;
            background: lighten(red, 15);
        }
    }
    .id_color_change {
        color: $primary;
    }
    h1 {
        color: $secondary;
        text-align: center;
        margin: 25px;
        font: {
            family: 'Raleway', sans-serif;
            size: 24px;
            weight: 500;
        }
    }
    p {
        margin: 40px;
        color: $gray;
        text-align: center;
        font: {
            family: 'Raleway', sans-serif;
            size: 20px;
        }
        .unread_messages {
            color: $primary;
            position: relative;
            font-size: 22px;
        }
    }
    .button_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
    }
    .link {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 70px;
        width: 80%;
        border-radius: 7px;
        border: 1px solid $primary;
        background: white;
        color: $primary;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        margin: 15px;
        font-weight: 500;
        .unseen_memories {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            text-align: center;
            background: $secondary;
            position: absolute;
            right: -15px;
            top: -15px;
            color: white;
            border: 1px solid $primary;
            font-size: 22px;
            font-family: 'Raleway', sans-serif;
        }
    }
    .button_send {
        background: $primary;
        color: white;
    }
}