.Profile {
    color: $gray;
    font: {
        family: 'Raleway', sans-serif;
        size: 20px;
    }
    .data_container {
        padding: 20px;
        position: relative;
        .data_header {
        }
        .data_body {
            font-size: 16px;
            margin: 10px 0px 0px 10px;
        }
        .data_show {
            position: absolute;
            left: 150px;
            top: 18px;
            color: $secondary;
            font-size: 14px;
        }
        .data_body_input {
            background: lighten($secondary, 25);
            width: 120px;
            margin: 10px 0px 0px 10px;
            padding: 5px;
            ::placeholder {
                color: $gray;
            }
            font: {
                size: 14px;
                family: 'Raleway', sans-serif;
            }
        }
    }
    .preference_container {
        .preference_header {
            text-align: center;
            width: 100%;
            margin-bottom: 10px;
        }
        .preference_body {
            width: 70%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
        }
        .preference_input {
            padding: 10px;
            width: 50%;
        }
        .preference_submit {
            width: 100%;
            background: $primary;
            height: 60px;
            border: none;
            border-radius: 7px;
            color: white;
            margin-top: 15px;
            font: {
                size: 18px;
            }
        }
        .right {
            padding-left: 12%;
        }
    }
}

@media (min-width: 414px) {
    .Profile {
        .data_container {
            width: 70%;
            position: relative;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            .data_body {
                margin: 10px;
            }
            .data_show {
                position: relative;
                text-align: left;
                top: 0px;
                left: 0px;
                margin-left: 15px;
            }
            .data_body_input {
                margin: 10px 0px 0px 10px;
            }
        }
        .preference_container {
            .preference_header {
                margin-bottom: 20px;
            }
        }
    }
}

@media (min-width: 768px) {
    .Profile {
        .data_container {
            width: 70%;
            position: relative;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            .data_body {
                margin: 10px;
            }
            .data_show {
                position: relative;
                text-align: left;
                top: 0px;
                left: 0px;
                margin-left: 15px;
            }
            .data_body_input {
                margin: 10px 0px 0px 10px;
            }
        }
        .preference_container {
            .preference_body {
                width: 70%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
            }
            .preference_input {
                padding: 10px;
                padding-left: 15%;
                margin: auto;
            }
        }
    }
}

@media (min-width: 1024px) {
    .Profile {
        .data_container {
            width: 70%;
            position: relative;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            .data_body {
                margin: 10px;
            }
            .data_show {
                position: relative;
                text-align: left;
                top: 0px;
                left: 0px;
                margin-left: 15px;
            }
            .data_body_input {
                margin: 10px 0px 0px 10px;
            }
        }
        .preference_container {
            .preference_body {
                width: 60%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
            }
            .preference_input {
                padding: 10px;
                padding-left: 20%;
                margin: auto;
            }
        }
    }
}