@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700|Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700|Varela+Round");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

button {
  outline: none; }

/*
 * This file is for all the default styles that are
 * not component-specific. These will be registered
 * first, then the component style files will be
 * loaded, over-writing these defaults.
 */
/*
 * Example Function:
 * function calc-height($height, $number) {
 *      @return $height - $number
 * }
 */
.Login {
  font-family: "Raleway", sans-serif;
  font-size: 24px; }
  .Login header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px; }
    .Login header .main_logo {
      height: 60px;
      width: auto; }
  .Login main {
    width: 100%;
    height: calc(100vh - 120px);
    padding-top: 20px; }
    .Login main p {
      color: #777;
      text-align: center;
      margin: 35px;
      font-weight: 500; }
    .Login main .buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .Login main .buttons a {
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none; }
      .Login main .buttons button {
        height: 70px;
        width: 80%;
        border: 1px solid #fa7c92;
        border-radius: 10px;
        background: #fff;
        color: #fa7c92;
        margin: 10px;
        font-size: 16px; }
      .Login main .buttons #sign_up_button {
        background: #fa7c92;
        color: #fff; }

.Landing .friend_request {
  position: absolute;
  width: 90%;
  height: auto;
  padding: 20px 0;
  top: 100px;
  background: white;
  box-shadow: 0px 2px 15px 2px #fcadbb;
  left: 5%;
  z-index: 1;
  color: #777; }

.Landing .friend_request_mapped {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll; }
  .Landing .friend_request_mapped .friend_request_info {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: 'Varela Round', sans-serif; }
  .Landing .friend_request_mapped .accept, .Landing .friend_request_mapped .reject {
    background: #00cd00;
    color: white;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    font-size: 14px;
    margin-bottom: 30px; }
  .Landing .friend_request_mapped .reject {
    background: #ff4d4d; }

.Landing .id_color_change {
  color: #fa7c92; }

.Landing h1 {
  color: #6abbce;
  text-align: center;
  margin: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 500; }

.Landing p {
  margin: 40px;
  color: #777;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px; }
  .Landing p .unread_messages {
    color: #fa7c92;
    position: relative;
    font-size: 22px; }

.Landing .button_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative; }

.Landing .link {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 70px;
  width: 80%;
  border-radius: 7px;
  border: 1px solid #fa7c92;
  background: white;
  color: #fa7c92;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  margin: 15px;
  font-weight: 500; }
  .Landing .link .unseen_memories {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    background: #6abbce;
    position: absolute;
    right: -15px;
    top: -15px;
    color: white;
    border: 1px solid #fa7c92;
    font-size: 22px;
    font-family: 'Raleway', sans-serif; }

.Landing .button_send {
  background: #fa7c92;
  color: white; }

.Header {
  box-shadow: 10px 1px 20px -10px #fa7c92;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; }
  .Header img {
    width: auto;
    height: 45px; }
  .Header .menu_open {
    z-index: 11;
    height: 7px;
    width: 35px;
    border: 1px solid #6abbce; }
    .Header .menu_open:before {
      position: absolute;
      height: 7px;
      width: 35px;
      margin-top: -12px;
      border: 1px solid #6abbce;
      right: 10px;
      content: ""; }
    .Header .menu_open:after {
      position: absolute;
      height: 7px;
      width: 35px;
      margin-top: 10px;
      border: 1px solid #6abbce;
      right: 10px;
      content: ""; }
    .Header .menu_open.active {
      transition: .4s;
      transform: translateY(0px) translateX(0) rotate(-45deg);
      border: 1px solid #fa7c92;
      background: #fa7c92; }
      .Header .menu_open.active:before {
        transition: .4s;
        opacity: 0; }
      .Header .menu_open.active:after {
        transition: .4s;
        transform: translateY(-10px) translateX(10px) rotate(-90deg);
        border: 1px solid #fa7c92;
        background: #fa7c92; }

@keyframes showMenu {
  0% {
    right: -100px; }
  50% {
    right: 10px; }
  100% {
    right: 0px; } }
  .Header .menu_div {
    z-index: 10;
    height: 100vh;
    width: 70%;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #fff;
    animation: .5s ease-in-out showMenu; }

@keyframes showShadow {
  0% {
    left: -30px;
    opacity: 0; }
  100% {
    left: 0px;
    opacity: .6; } }
  .Header .menu_div_shadow {
    z-index: 10;
    height: 100vh;
    width: 30%;
    background: #777;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: .6;
    animation: .5s ease-in-out showShadow; }
  .Header .menu_link_item {
    display: block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #6abbce;
    text-align: center;
    margin: 50px 20px; }
  .Header :nth-last-child(1) {
    color: #fa7c92;
    font-weight: bold; }
  .Header .menu_div_desktop {
    display: none; }
    .Header .menu_div_desktop .menu_link_item_desktop {
      display: none; }

@media (min-width: 768px) {
  .Header {
    height: 120px; }
    .Header img {
      height: 65px; }
    .Header .menu_open {
      height: 12px;
      margin-right: 10px;
      width: 45px; }
      .Header .menu_open:before {
        height: 11px;
        width: 45px;
        margin-top: -16px;
        right: 20px; }
      .Header .menu_open:after {
        height: 11px;
        width: 45px;
        margin-top: 16px;
        right: 20px; }
      .Header .menu_open.active:after {
        transform: translateY(-15px) translateX(20px) rotate(-90deg); }
  @keyframes showMenu {
    0% {
      right: -300px; }
    80% {
      right: 30px; }
    90% {
      right: 10px; }
    100% {
      right: 0px; } }
  @keyframes showShadow {
    0% {
      left: -90px;
      opacity: 0; }
    100% {
      left: 0px;
      opacity: .6; } }
    .Header .menu_link_item {
      font-size: 26px;
      margin: 75px 30px; } }

@media (min-width: 1024px) {
  .Header {
    height: 120px; }
    .Header img {
      height: 65px; }
    .Header .menu_open {
      display: none; }
    .Header .menu_div_desktop {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 60%;
      margin: 5px; }
      .Header .menu_div_desktop .menu_link_item_desktop {
        color: #6abbce;
        text-decoration: none;
        display: inline;
        font-size: 16px;
        margin: 10px;
        padding: 5px;
        width: 26%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        text-align: center; }
      .Header .menu_div_desktop :nth-last-child(1) {
        color: #fa7c92; } }

.Memories .view_memory {
  text-decoration: none; }

.Memories .all_memories_seen {
  color: #777;
  font-size: 30px;
  text-align: center;
  margin: 100px 30px; }

.Memories .unread_memory_envelop {
  border: 1px solid #fa7c92;
  width: 80%;
  margin: 30px auto;
  position: relative;
  height: 150px;
  border-radius: 5px; }
  .Memories .unread_memory_envelop .new_memory_icon {
    z-index: 9;
    position: absolute;
    right: -25px;
    top: -15px;
    background: #6abbce;
    border-radius: 50%;
    color: white;
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px; }
  .Memories .unread_memory_envelop .new_memory_triangle {
    z-index: -1;
    height: 0;
    width: 0;
    margin: auto;
    border-left: calc(100vw * .8 / 2) solid transparent;
    border-top: 75px solid #fa7c92;
    border-right: calc(100vw * .8 / 2) solid transparent;
    position: relative; }

.Memories .memory_title {
  text-align: center;
  margin-top: -60px;
  color: white; }

.Memories .memory_sender_from {
  text-align: center;
  margin-top: 45px;
  color: #777; }

.Memories .memory_sender {
  text-align: center;
  font-size: 22px;
  color: #6abbce;
  margin-top: 5px; }

@media (min-width: 450px) {
  .Memories .unread_memory_envelop {
    height: 200px; }
  .Memories .memory_title {
    font-size: 18px; }
  .Memories .memory_sender_from {
    margin-top: 65px;
    font-size: 18px; }
  .Memories .memory_sender {
    font-size: 26px;
    margin-top: 10px; } }

@media (min-width: 700px) {
  .Memories .unread_memory_envelop {
    height: 260px; }
    .Memories .unread_memory_envelop .new_memory_icon {
      right: -40px;
      top: -25px;
      height: 50px;
      width: 80px;
      font-size: 20px; }
    .Memories .unread_memory_envelop .new_memory_triangle {
      border-top: 100px solid #fa7c92; }
  .Memories .memory_title {
    font-size: 22px;
    margin-top: -80px; }
  .Memories .memory_sender_from {
    margin-top: 90px;
    font-size: 22px; }
  .Memories .memory_sender {
    font-size: 34px;
    margin-top: 10px; } }

@media (min-width: 1024px) {
  .Memories .unread_memory_envelop {
    height: 320px; }
    .Memories .unread_memory_envelop .new_memory_triangle {
      border-top: 100px solid #fa7c92; }
  .Memories .memory_sender_from {
    margin-top: 110px; } }

.ViewMemory .image_container {
  width: 100%;
  padding: 5px;
  position: relative; }

.ViewMemory .hidden_item {
  position: relative;
  height: auto;
  width: auto; }

.ViewMemory .memory_title {
  text-align: center;
  position: absolute;
  width: auto;
  background: #44a9c1;
  opacity: 0.85;
  padding: 3px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Varela Round', sans-serif; }

.ViewMemory .memory_date {
  text-align: center;
  position: absolute;
  bottom: 8px;
  right: 5px;
  width: auto;
  background: #44a9c1;
  opacity: 0.85;
  padding: 3px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Varela Round', sans-serif; }

.ViewMemory .view_memory_image {
  width: 100%;
  height: auto;
  border-radius: 5px; }

.ViewMemory p {
  padding: 15px;
  border: 1px solid #fa7c92;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px; }

.ViewMemory .color_text {
  color: #6abbce;
  font-weight: bold; }

.UploadImage .upload_image {
  position: relative;
  border: 1px solid #fa7c92;
  border-radius: 5px;
  margin: 15px;
  color: #6abbce;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px; }
  .UploadImage .upload_image .upload_image_button {
    width: 175px; }

.UploadImage .image_preview_container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.UploadImage .image_preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  z-index: 1; }

.UploadImage .remove_image_preview {
  color: #fa7c92;
  position: absolute;
  top: 5px;
  right: 5px;
  background: #5e5e5e;
  border-radius: 3px;
  opacity: 0.8;
  padding: 2px;
  font-size: 16px;
  z-index: 2; }

.UploadImage .image_underlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #dddddd;
  border-radius: 3px; }

.UploadImage .text_container {
  width: 100%;
  height: auto;
  padding: 15px; }

.UploadImage .memory_text {
  border: 1px solid #fa7c92;
  border-radius: 5px;
  color: #6abbce;
  padding: 15px;
  height: 150px;
  width: 100%;
  resize: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px; }
  .UploadImage .memory_text ::placeholder {
    color: #6abbce; }

.UploadImage .button_container {
  display: flex;
  width: 100%;
  padding: 15px;
  justify-content: center; }

.UploadImage .next_page_button {
  background: #fa7c92;
  width: 100%;
  height: 50px;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px; }

@media (min-width: 768px) {
  .UploadImage .upload_image {
    height: 400px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px; }
    .UploadImage .upload_image .upload_image_button {
      width: 175px; }
  .UploadImage .remove_image_preview {
    padding: 3px;
    font-size: 22px; }
  .UploadImage .memory_text {
    height: 250px;
    font-size: 24px; } }

.UploadMemory {
  font-size: 20px;
  font-family: 'Raleway', sans-serif; }
  .UploadMemory .select_loved_one_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; }
    .UploadMemory .select_loved_one_container .select_loved_one {
      color: #6abbce;
      border: 1px solid #fa7c92;
      border-radius: 5px;
      width: 80%;
      height: 60px;
      font-size: 20px;
      background: white;
      padding-left: 15px; }
  .UploadMemory label {
    color: #6abbce;
    font-size: 16px;
    bottom: -8px;
    background: white;
    left: 10px;
    padding: 2px;
    position: relative; }
  .UploadMemory .memory_header {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 210px;
    color: #777; }
  .UploadMemory .memory_date_container {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 40px;
    justify-content: space-between; }
    .UploadMemory .memory_date_container .memory_date_item {
      color: #6abbce;
      width: 30%;
      height: 60px;
      border: 1px solid #fa7c92;
      border-radius: 5px;
      text-align: center;
      font-size: 18px; }
  .UploadMemory .memory_title_container {
    width: 80%;
    margin: auto;
    margin-top: 40px; }
    .UploadMemory .memory_title_container .memory_title {
      color: #6abbce;
      width: 100%;
      height: 60px;
      border: 1px solid #fa7c92;
      border-radius: 5px;
      padding-left: 15px;
      font-size: 18px; }
    .UploadMemory .memory_title_container .submit_memory_button {
      background: #fa7c92;
      width: 100%;
      height: 70px;
      margin-top: 10px;
      border: none;
      border-radius: 10px;
      color: white;
      font-size: 20px;
      font-family: 'Raleway', sans-serif; }
  .UploadMemory .false_data_container {
    width: 100%;
    height: 30px;
    text-align: center;
    position: relative;
    margin-top: 30px; }
    .UploadMemory .false_data_container .false_data {
      color: red;
      font-size: 14px;
      text-align: center;
      width: 80%; }

@media (min-width: 768px) {
  .UploadMemory .memory_header {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 245px;
    color: #777; } }

.Success h1 {
  color: #fa7c92;
  text-align: center;
  margin: 30px;
  line-height: 60px;
  margin-top: 30px;
  font-size: 32px;
  font-family: 'Raleway', sans-serif; }

.Success .color_change {
  color: #6abbce; }

.Success .button_container {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0px;
  margin-top: 30px; }
  .Success .button_container .home_button {
    border: 1px solid #fa7c92;
    background: white;
    color: #fa7c92;
    border-radius: 10px;
    width: 80%;
    height: 70px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500; }
  .Success .button_container .submit_button {
    width: 80%;
    height: 70px;
    border: none;
    border-radius: 10px;
    background: #fa7c92;
    color: white;
    margin-top: 30px;
    padding: 0px 30px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500; }

.Failure .failure_text {
  color: #6abbce;
  text-align: center;
  margin-top: 40px;
  font-size: 24px; }

.Failure .error_code {
  color: #fa7c92; }

.Failure .button_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 20px; }
  .Failure .button_container .home_button {
    background: #fa7c92;
    color: white;
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 60px;
    font-size: 18px; }

.NewConnection .search_box_container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10%; }
  .NewConnection .search_box_container .search_box {
    width: 100%;
    height: 50px;
    border: 1px solid #fa7c92;
    border-radius: 7px;
    padding-left: 15px;
    color: #6abbce;
    font-size: 16px;
    font-family: 'Raleway', sans-serif; }

.NewConnection .search_box_label {
  color: #6abbce;
  font-family: 'Raleway', sans-serif; }

.NewConnection .display_list {
  border: 1px solid #6abbce;
  width: 80%;
  max-height: 200px;
  overflow: scroll;
  margin: auto;
  margin-top: 10px;
  border-radius: 7px; }
  .NewConnection .display_list .display_list_item {
    list-style: none;
    margin: 15px;
    text-align: center;
    color: #6abbce;
    font-family: 'Raleway', sans-serif;
    font-size: 18px; }

.NewConnection .color_change_id {
  color: #fa7c92; }

.NewConnection .user_selected_container {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif; }
  .NewConnection .user_selected_container .user_selected_label {
    color: #777; }
  .NewConnection .user_selected_container .user_selected_name {
    color: #6abbce;
    font-size: 20px; }
  .NewConnection .user_selected_container .user_selected_highlight {
    color: #fa7c92;
    font-size: 18px; }
  .NewConnection .user_selected_container .change_selection {
    border: 1px solid #fa7c92;
    background: white;
    color: #fa7c92;
    border-radius: 5px;
    height: 20px;
    width: 65px; }

.NewConnection .connect_button {
  width: 80%;
  height: 70px;
  color: white;
  background: #fa7c92;
  border: none;
  border-radius: 10px;
  margin: 10px 10%;
  font-family: 'Raleway', sans-serif;
  font-size: 20px; }

.NewConnection .separator {
  width: 90%;
  height: 3px;
  border: none;
  border-radius: 3px;
  background: #fa7c92;
  margin: 50px auto; }

.NewConnection .invite_new_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .NewConnection .invite_new_container .invite_new_header {
    color: #6abbce;
    text-align: center;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 18px; }
  .NewConnection .invite_new_container .invite_new_button {
    background: #fa7c92;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    width: 80%;
    height: 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px; }

.InvitationSent h1 {
  color: #6abbce;
  text-align: center;
  margin: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 500; }

.InvitationSent .button_container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .InvitationSent .button_container .connect_button {
    margin: 10px;
    width: 80%;
    background: white;
    border: 1px solid #fa7c92;
    border-radius: 10px;
    height: 70px;
    color: #fa7c92;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500; }
  .InvitationSent .button_container .send_memory_button {
    margin: 10px;
    width: 80%;
    background: #fa7c92;
    border: none;
    border-radius: 10px;
    height: 70px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500; }

.About {
  text-align: center;
  font-family: 'Varela Round', 'Raleway', sans-serif; }
  .About h1 {
    color: #fa7c92;
    margin: 15px;
    font-size: 24px; }
  .About .Introduction p {
    margin: auto;
    line-height: 20px;
    width: 80%; }
  .About .Founders h2 {
    color: #6abbce;
    font-size: 20px;
    margin: 15px; }
  .About .Founders img {
    height: 100px;
    border-radius: 50%;
    width: auto;
    margin-top: 15px; }
  .About .Founders p {
    width: 80%;
    margin: auto; }
  .About .Founders .bolded {
    font-weight: bold;
    font-size: 14px; }
  .About .Technology_Mobile h2 {
    margin: 15px; }
  .About .Technology_Mobile ul {
    background: #90cddb;
    width: 250px;
    margin: 15px auto;
    border-radius: 10px;
    padding: 3px; }
  .About .Technology_Mobile li {
    list-style: none;
    margin: 6px; }
  .About .Technology_Desktop {
    display: none; }
    .About .Technology_Desktop img {
      height: 40px;
      width: auto;
      margin-left: 10px; }
    .About .Technology_Desktop h2 {
      margin: 15px; }
    .About .Technology_Desktop ul {
      background: #6abbce;
      width: 500px;
      margin: 15px auto;
      border-radius: 10px;
      padding: 3px; }
    .About .Technology_Desktop li {
      background: white;
      height: 50px;
      list-style: none;
      margin: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      border-radius: 10px; }
  .About .SpecialThanks h2 {
    color: #6abbce;
    font-size: 20px;
    margin: 15px; }
  .About .SpecialThanks p {
    font-size: 14px;
    line-height: 20px;
    margin: 10px; }

@media (min-width: 768px) {
  .About .Founders img {
    height: 150px; }
  .About .Technology_Desktop {
    display: block; }
  .About .Technology_Mobile {
    display: none; } }

.Profile {
  color: #777;
  font-family: 'Raleway', sans-serif;
  font-size: 20px; }
  .Profile .data_container {
    padding: 20px;
    position: relative; }
    .Profile .data_container .data_body {
      font-size: 16px;
      margin: 10px 0px 0px 10px; }
    .Profile .data_container .data_show {
      position: absolute;
      left: 150px;
      top: 18px;
      color: #6abbce;
      font-size: 14px; }
    .Profile .data_container .data_body_input {
      background: #cae7ee;
      width: 120px;
      margin: 10px 0px 0px 10px;
      padding: 5px;
      font-size: 14px;
      font-family: 'Raleway', sans-serif; }
      .Profile .data_container .data_body_input ::placeholder {
        color: #777; }
  .Profile .preference_container .preference_header {
    text-align: center;
    width: 100%;
    margin-bottom: 10px; }
  .Profile .preference_container .preference_body {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap; }
  .Profile .preference_container .preference_input {
    padding: 10px;
    width: 50%; }
  .Profile .preference_container .preference_submit {
    width: 100%;
    background: #fa7c92;
    height: 60px;
    border: none;
    border-radius: 7px;
    color: white;
    margin-top: 15px;
    font-size: 18px; }
  .Profile .preference_container .right {
    padding-left: 12%; }

@media (min-width: 414px) {
  .Profile .data_container {
    width: 70%;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    .Profile .data_container .data_body {
      margin: 10px; }
    .Profile .data_container .data_show {
      position: relative;
      text-align: left;
      top: 0px;
      left: 0px;
      margin-left: 15px; }
    .Profile .data_container .data_body_input {
      margin: 10px 0px 0px 10px; }
  .Profile .preference_container .preference_header {
    margin-bottom: 20px; } }

@media (min-width: 768px) {
  .Profile .data_container {
    width: 70%;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    .Profile .data_container .data_body {
      margin: 10px; }
    .Profile .data_container .data_show {
      position: relative;
      text-align: left;
      top: 0px;
      left: 0px;
      margin-left: 15px; }
    .Profile .data_container .data_body_input {
      margin: 10px 0px 0px 10px; }
  .Profile .preference_container .preference_body {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap; }
  .Profile .preference_container .preference_input {
    padding: 10px;
    padding-left: 15%;
    margin: auto; } }

@media (min-width: 1024px) {
  .Profile .data_container {
    width: 70%;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    .Profile .data_container .data_body {
      margin: 10px; }
    .Profile .data_container .data_show {
      position: relative;
      text-align: left;
      top: 0px;
      left: 0px;
      margin-left: 15px; }
    .Profile .data_container .data_body_input {
      margin: 10px 0px 0px 10px; }
  .Profile .preference_container .preference_body {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap; }
  .Profile .preference_container .preference_input {
    padding: 10px;
    padding-left: 20%;
    margin: auto; } }
